.adminform{
    margin-left: 440px;
    margin-top: 10vh;
    height: 50vh;
    width: 500px;
    box-shadow: 5px 5px 25px rgb(255, 243, 243);
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
}
.adminform:hover{
    box-shadow: 5px 15px 45px rgb(255, 249, 249);
}
.adminform .heading{
    padding-top: 30px;
    color: white;
}
.adminform .form3{
    height: 30px;
    width: 200px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.39);
    color: black;
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
}
.adminform .btn2{
    height: 40px;
    width: 120px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 6vh;
    border: none;
    font-size: 17px;
    
}
.adminform .btn2:hover{
    background-color: rgb(38, 104, 93);
    color: black;
}
.loginform p{
    color: rgb(0, 0, 0);
    font-weight: bold;
}